/* transition variables */
$slowTransitionSpeed: 0.5s;
$defaultTransitionSpeed: 0.3s;
$fastTransitionSpeed: 0.2s;

/* MARGIN AND PADDING SIZES */
$small-space: 4px;
$medium-space: 15px;
$large-space: 30px;


/* COLOR VARIABLES */
$white: #ffffff;
$black: #000000;

$grey5:         lighten(black, 5);
$grey10:        lighten(black, 10);
$grey20:        lighten(black, 20);
$grey30:        lighten(black, 30);
$grey40:        lighten(black, 40);
$grey50:        lighten(black, 50);
$grey60:        lighten(black, 60);
$grey70:        lighten(black, 70);
$grey80:        lighten(black, 80);
$grey90:        lighten(black, 90);


/* MATCHA SPECIFIC COLOURS */
$green: #437b1e;



// BOOTSTRAP STUFF
// ================================================================
$bootstrap-sass-asset-helper: false;


$grid-gutter-width: 30px !default;


// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1450px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;



// TYPOGRAPHY
// ===========

$font-family-base: "proxima-nova";
$text-color: $black;

$brand-primary: $green;

$font-size-base:          18px !default;
$font-size-large:         ceil($font-size-base * 1.25) !default;
$font-size-small:         ceil($font-size-base * 0.85) !default;

$line-height-base:        1.428571429 !default; // 20/14


// Links
// -------------------------

$link-color: darken($green, 20%);
$link-hover-color: lighten($link-color, 20%);

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

// buttons
$btn-default-color: $black;
$btn-default-bg: $brand-primary;

$btn-primary-color: $black;
$btn-primary-bg: $green;


// nav tabs
$nav-tabs-active-link-hover-color: black;
$nav-tabs-active-link-hover-border-color: black;
$nav-tabs-border-color: black;

// tooltip
$tooltip-max-width: 300px;
$tooltip-max-width-desktop: 400px;
$tooltip-color: $black;
$tooltip-bg: $grey10;

$tooltip-arrow-width: 10px;
$tooltip-arrow-width-desktop: 15px;
