@import 'constants';
@import 'mixins';

// HEADINGS RESETS
h1
{
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6
{
  margin-top: 0;
  margin-bottom: 0;
}

a, a:hover, a:active, a:visited
{
  text-decoration: none;
  outline: none;
}

// GREEN SELECTION
::selection {
  background: $green;
  color: #fff; }

::-moz-selection {
  background: $green;
  color: #fff; }


html
{
  margin: 0;
  padding: 0;
}

body
{
  padding: 0;
  margin: 0;
  background-color: $grey10;
  overflow-x: hidden;

  .container-fluid
  {
    padding: 40px 0;
  }

  footer
  {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    background-color: $grey10;
    color: $white;

    a
    {
      color: $white;
    }

    .phone
    {
      font-size: 2em;
    }

    .email
    {
      font-size: 0.8em;
      text-transform: uppercase;
    }

    nav
    {
      margin-bottom: 20px;

      .nav-item
      {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 100;

        a
        {
          margin: 0 8px 0 8px;
        }

        &:after
        {
          content: "|";
        }

        &:first-child
        {
          a
          {
            margin-left: 0;
          }
        }

        &:last-child
        {
          &:after
          {
            content: "";
          }
        }
      }
    }

    #social-follow
    {
      margin-top: 25px;

      a
      {
        i
        {
          font-size: 2.3em;
          margin-right: 15px;
        }

        &:last-child
        {
          i
          {
            margin-right: 0;
          }
        }
      }
    }

    #punchline
    {
      text-align: center;
      text-transform: uppercase;
      position: absolute;
      top: 40%;
      left: 50%;
      width: 80%;
      margin-left: -40%;

      h2
      {
        font-weight: 100;
        font-size: 3em;
      }
    }
  }
}

@media (max-width: $screen-md-max)
{
  body
  {
    .container
    {
      max-width: 100%;
    }
  }
}


@media (max-width: $screen-sm-max)
{
  body
  {
    .container
    {
      max-width: 100%;
    }

    .container-fluid
    {
      padding: 20px 0;
    }

    footer
    {
      nav
      {
        margin-top: 15px;
        text-align: center;

        .nav-item
        {
          font-size: 1.3em;

          &:nth-child(3):after
          {
            content: "";
          }
        }
      }

      #social-follow
      {
        text-align: center;
      }

      .copyright
      {
        text-align: center;
      }
    }
  }
}
