<header>
  <div class="container">
    <nav>
      <div class="logo"><a href="/"><img src="{{ 'placeholders/logo-white.png' | asset_path }}"></a></div>
      <ul>
        <li><a href="/#details">DETAILS</a></li>
        <li><a href="/customize">CUSTOMIZE</a></li>
        <li><a href="/customize">BUY NOW</a></li>
      </ul>
    </nav>
    {% include 'social' %}
  </div>
</header>
