/* marquee variables */
$slowTransitionSpeed: 0.5s;
$defaultTransitionSpeed: 0.3s;
$fastTransitionSpeed: 0.2s;


/* COLOR VARIABLES */
$white: #ffffff;
$smokewhite: #f4f4f4;
$black: #000000;
$gray: #525252;
$gray2: #fbfbfb;
$gray6: #f0f0f0;
$gray10: #e5e5e5;
$gray20: #cccccc;
$gray40: #999999;
$gray60: #666666;
$gray70: #4d4d4d;
$gray80: #343434;
$gray85: #272727;
$gray90: #191919;
$goldenbrown: #c3a96a;
$golden: #e1cb88;
$goldendark: #564f39;
$beige: #bbb4a0;
$zen-red: #a5696f;
$zen-green: #354635;
$turquoise: #89b399;
$bluewhite: #d3f3e0;

$tooltipBG: $gray2;


// MANIFESTOS SPECIFIC VARIABLES
$manifestos-nav-color: $gray80;
$durability-color: $gray70;
$usability-color: #fbd738;
$art-color: #d349d1;
$art-color-dark: #4a1876;
$manifestos-color-inverted-mode-1: $black;
$manifestos-nav-color-inverted-mode-1: lighten($manifestos-color-inverted-mode-1, 20%);

$manifestos-color-inverted-mode-2: $gray90;
$manifestos-nav-color-inverted-mode-2: $manifestos-nav-color;


// workflow SPECIFIC VARIABLES
$workflow-nav-color: #e1cb88;
$workflow-color: #e5dbb7;
$workflow-color-dark: #E0C77D;

$workflow-color-inverted-mode-1: #8d8762;
$workflow-nav-color-inverted-mode-1: lighten($workflow-color-inverted-mode-1, 20%);

$workflow-color-inverted-mode-2: $zen-green;
$workflow-nav-color-inverted-mode-2: $workflow-nav-color;

$workflow-container-lg: 1000px;


// features SPECIFIC VARIABLES
$features-nav-color: #afc8b4;
$features-color: #c3d5c7;
$features-color-inverted-mode-1: #3B4941;
$features-nav-color-inverted-mode-1: lighten($features-color-inverted-mode-1, 20%);

$features-color-inverted-mode-2: #1b1329;
$features-nav-color-inverted-mode-2: $features-nav-color;
