@import "constants";


// RESPONSIVE MIXINS
// ===============
@mixin largeHeader()
{
  header #primary-nav .primary-nav-item
  {
    height: 33px;
    margin-top: 9px;
    
    .nav-title
    {
      line-height: 33px;
    }

    .nav-icon
    {
      width: 36px;        
    }
  }
}

@mixin largeArrows($arrow-color: $black, $arrow-bg: $white)
{
  #manifestos .container .inner-wrapper .main-content .tab-content 
  {
    .arrows
    {
      .arrow
      {
        width: 180px;
      }

      .arrow-forward
      {
        @include arrow(30px, 3, $arrow-color, $arrow-bg, right);
        right: -180px;

        span
        {
          right: 40px;
        }
      }

      .arrow-backward
      {
        @include arrow(30px, 3, $arrow-color, $arrow-bg, left);
        left: -180px;

        span
        {
          left: 40px;
        }
      }
    }
  }
}

@mixin workflowNavArrows($arrow-size, $color, $bg)
{
  .rsDefault.rsHor .rsArrowLeft { 
    .rsArrowIcn
    {
      @include arrow($arrow-size, 1, $color, $bg, left);    
    }
  }

  .rsDefault.rsHor .rsArrowRight { 
    .rsArrowIcn
    {
      @include arrow($arrow-size, 1, $color, $bg, right);    
    }
  }
}

@mixin largeMarquee()
{
  #manifestos #marquee-wrapper #marquee
  {
    .marquee-headline h1
    {
      font-size: 1.4em;
      margin-top: 0;        
    }

    .nav
    {
      font-size: 2.2em;
    }
  }
}


// END RESPONSIVE MIXINS


@mixin activeNavBg($color: $gray20)
{
  background-color: rgba($color, 0.5);
}

/* mixins */
@mixin transition($transition)
{
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transitionDelay($delay)
{
  -webkit-transition-delay: $delay;
  -moz-transition-delay: $delay;
  -o-transition-delay: $delay;
  transition-delay: $delay;
}

@mixin transitionDuration($duration)
{
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;
  -o-transition-duration: $duration;
  transition-duration: $duration;
}

@mixin blur($amount)
{
  -webkit-filter: blur($amount);
  -moz-filter: blur($amount);
  -o-filter: blur($amount);
  -ms-filter: blur($amount);
  filter: image-url("blur.svg#blur");
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='#{$amount}');
}

@mixin blurPerformanceHack()
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -filter: translate3d(0, 0, 0);
}

@mixin disableHighlighting
{
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

@mixin triangle($triangle-size, $triangle-color, $triangle-direction)
{
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: $triangle-size solid transparent; /* arrow size */

  @if ($triangle-direction == top)
  {
      border-color: $triangle-color transparent transparent transparent;
      border-top-style: solid;
  }
  @if ($triangle-direction == bottom)
  {
      border-color: transparent transparent $triangle-color transparent;
      border-bottom-style: solid;
  }
  @if ($triangle-direction == right)
  {
      border-color: transparent transparent transparent $triangle-color;
      border-left-style: solid;
  }
  @if ($triangle-direction == left)
  {
      border-color: transparent $triangle-color transparent transparent;
      border-right-style: solid;
  }
}

@mixin arrow($arrow-size, $arrow-thickness, $arrow-color, $arrow-bg, $arrow-direction, $arrow-offset: 0)
{
  /* top-stacked, smaller arrow */
  &:before {
    @include triangle($arrow-size, $arrow-bg, $arrow-direction);
    position: absolute;

    top: 0;
    z-index: 2;

    @if ($arrow-direction == left)
    {
      left: ($arrow-thickness - $arrow-size);
    }
    @if ($arrow-direction == right)
    {
      right: ($arrow-thickness - $arrow-size);
    }
    @if ($arrow-direction == bottom)
    {
      top: auto;
      bottom: $arrow-offset;
      width: ($arrow-size*2);
      left: 50%;
      margin-left: -($arrow-size);
    }
    @if ($arrow-direction == top)
    {
      top: -($arrow-offset+$arrow-thickness);
      width: ($arrow-size*2);
      left: 50%;
      margin-left: -($arrow-size);
    }
  }

  &:after {
    @include triangle($arrow-size, $arrow-color, $arrow-direction);
    position: absolute;

    top: 0;
    z-index: 1;

    @if ($arrow-direction == left)
    {
      left: (-$arrow-size);
    }
    @if ($arrow-direction == right)
    {
      right: (-$arrow-size);
    }
    @if ($arrow-direction == bottom)
    {
      top: auto;
      bottom: ($arrow-offset+$arrow-thickness);
      width: ($arrow-size*2);
      left: 50%;
      margin-left: -($arrow-size);
    }
    @if ($arrow-direction == top)
    {
      top: $arrow-offset;
      width: ($arrow-size*2);
      left: 50%;
      margin-left: -($arrow-size);
    }
  }
}

@mixin circle($radius)
{
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin gradientBG($color1, $color2)
{
  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(top, $color1 0%, $color2 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, $color1 0%, $color2 100%);

  /* Opera */ 
  background-image: -o-linear-gradient(top, $color1 0%, $color2 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $color1), color-stop(1, $color2));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, $color1 0%, $color2 100%);

  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to bottom, $color1 0%, $color2 100%);
}


@mixin gradientDiagonal($color1, $color2)
{
  background: $color1; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMWU1Nzk5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg,  rgba($color1,1) 0%, rgba($color2,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba($color1,1)), color-stop(100%,rgba($color2,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba($color1,1) 0%,rgba($color2,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba($color1,1) 0%,rgba($color2,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba($color1,1) 0%,rgba($color2,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba($color1,1) 0%,rgba($color2,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color1, endColorstr=$color2,GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

@mixin diagonalGradient($color1, $color2, $color-stop-percentage)
{
  background: $color1; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba($color1,1) 0%, rgba($color1,1) $color-stop-percentage, rgba($color2,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba($color1,1)), color-stop($color-stop-percentage,rgba($color1,1)), color-stop(100%,rgba($color2,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba($color1,1) 0%,rgba($color1,1) $color-stop-percentage,rgba($color2,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba($color1,1) 0%,rgba($color1,1) $color-stop-percentage,rgba($color2,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba($color1,1) 0%,rgba($color1,1) $color-stop-percentage,rgba($color2,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba($color1,1) 0%,rgba($color1,1) $color-stop-percentage,rgba($color2,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin transparentGradientRight($color, $opacity:1){

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, rgba($color, $opacity) 0%, rgba($color,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba($color, $opacity)), color-stop(100%,rgba($color,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba($color, $opacity) 0%,rgba($color,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba($color, $opacity) 0%,rgba($color,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba($color, $opacity) 0%,rgba($color,0) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba($color, $opacity) 0%,rgba($color,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color, endColorstr='#00ffffff',GradientType=1 ); /* IE6-8 */
}

@mixin transparentGradientLeft($color, $opacity:1){
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTU3OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(left,  rgba($color,0) 0%, rgba($color, $opacity) 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba($color,0)), color-stop(100%,rgba($color, $opacity))); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(left,  rgba($color,0) 0%,rgba($color, $opacity) 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(left,  rgba($color,0) 0%,rgba($color, $opacity) 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(left,  rgba($color,0) 0%,rgba($color, $opacity) 100%); /* IE10+ */
  background-image: linear-gradient(to right,  rgba($color,0) 0%,rgba($color, $opacity) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr=$color,GradientType=1 ); /* IE6-8 */
}


@mixin smoothTransparentGradientTop($color, $opacity:1){
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba($color,0.99) 99%, rgba($color,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(99%,rgba($color,0.99)), color-stop(100%,rgba($color,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba($color,0.99) 99%,rgba($color,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba($color,0.99) 99%,rgba($color,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba($color,0.99) 99%,rgba($color,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba($color,0.99) 99%,rgba($color,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='$color',GradientType=0 ); /* IE6-9 */
}



@mixin transparentBG($transparency: 0.6) {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 255, 255, $transparency);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

@mixin boxshadow($shadow)
{
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}


// Retina images
//
// Short retina mixin for setting background-image and -size

@mixin img-retina($file-1x, $file-2x, $width-1x, $height-1x) {
  background-image: $file-1x;

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: $file-2x;
    background-size: $width-1x $height-1x;
  }
}