body.site-single-page.screen-laptop #manifestos,
body.site-single-page.screen-desktop #manifestos
{
  -skrollr-animation-name: manifestos_opacity;
}

body.site-single-page.screen-laptop #manifestos .content-wrapper,
body.site-single-page.screen-desktop #manifestos .content-wrapper
{
  -skrollr-animation-name: copyContentOpacity;
}

body.site-single-page.screen-laptop #marquee .nav,
body.site-single-page.screen-desktop #marquee .nav
{
  -skrollr-animation-name: goRight;
}

body.site-single-page.screen-laptop #marquee .marquee-headline,
body.site-single-page.screen-desktop #marquee .marquee-headline
{
  -skrollr-animation-name: goLeft;
}


@-skrollr-keyframes manifestos_opacity{
  {{ site.manifestos_pre_end }} {
    opacity: 1;
    z-index: 9;
  }

  {{ site.manifestos_end }} {
    opacity: 0;
    z-index: 0;
  }
}

@-skrollr-keyframes copyContentOpacity{
  {{ site.manifestos_start }} {
    opacity: 1;
  }

  {{ site.manifestos_content_pre_end }} {
    opacity: 1;
  }

  {{ site.manifestos_content_end }} {
    opacity: 0;
  }
}

@-skrollr-keyframes goRight{
  {{ site.manifestos_pre_end }} {
    left: 0%;
  }

  {{ site.manifestos_end }} {
    left: 50%;
  }
}

@-skrollr-keyframes goLeft{
  {{ site.manifestos_pre_end }} {
    right: 0%;
  }

  {{ site.manifestos_end }} {
    right: 50%;
  }
}